.container{
	padding-left: 200px;
	padding-right: 200px;
	padding-bottom: 10%;
	background-color: whitesmoke;
  cursor: pointer;
}

.grid{
	width:80%;
	height:300px;
	display:table-cell;
	flex-wrap:wrap;
	margin:100px auto;
	align-items: center;
	justify-content: center;
}

.grid img{
	margin:4px;
	transform-style: preserve-3d;
	transition: transform 0.5s;
}

.grid img.flip{
	transform: rotateY(180deg)
}

.popup{
	background: red;
	color:#fff;
	z-index: 20;
	display:block;
	text-decoration: none;
	justify-content: center;
	align-items: center;
	flex-direction: column-reverse;
	position:absolute;
	max-width: 100%;
	height: auto;
	top: 50%;
	left: 50%;
	border:2px solid tomato;
	transform: translate(-50%, -50%);
	height: 40px;
}

.score{
	color:gold;
	font-style: italic;
	font-size: larger;
}

.data{
	display:flex;
	justify-content: space-between;
	padding: 20px 20px;
	font-size: 23px;
}

.data span{
	color:rgb(206,121,11);
	font-size:30px; 
}
#playAgain{
	text-align: center;
}